.vivadh {
  color: #0275d8 !important;

  font: normal normal bold 37px/44px;
  padding-left: 139px;
}
.formRounded {
  border-radius: 5rem !important;
}

@media (max-width: 600px) {
  .vivadh {
    padding-left: 20px;
  }
}
.bellIcon {
  padding-left: 10px;
  padding-right: 10px;
}

